.site-description {
  padding-top: 136px;
  padding-bottom: 9.3rem;
  position: relative;
  z-index: 5;
}

.site-description div[class*="col-"] {
  z-index: 2;
}

.site-description h1 {
  margin-bottom: 24px;
}
.site-description p {
  padding-right: 8rem;
  margin-bottom: 24px;
}
.site-description p:last-of-type {
  margin-bottom: 62px;
}
.site-description .btns a {
  margin-right: 20px;
}
.site-description .btns a:last-child {
  margin-right: 0;
}

.site-description .image-background,
.site-description .slide-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right;
  width: 65%;
}

.site-description .site-description-slider,
.site-description .image-background .slide-image,
.site-description .slick-list,
.site-description .slick-track,
.site-description .linear-gradient-left {
  height: 100%;
}

.site-description .slick-track {
  width: 100% !important;
}

.site-description .image-background .slide-image {
  width: 100% !important;
  left: 0 !important;
  position: absolute !important;
  background-size: cover;
  background-position: inherit;
}

.site-description .linear-gradient-left {
  background: transparent linear-gradient(270deg, #f9f9f900 44%, #f9f9f9 100%)
    0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 65%;
  right: 0;
}

.site-description .col-lg-7 {
  z-index: 2;
}

@media (max-width: 1099.98px) {
  .site-description {
    padding-top: 61px;
    padding-bottom: 66px;
  }
  .site-description h1 {
    font-size: 24px;
  }
  .site-description p {
    padding-right: 3rem;
    margin-bottom: 21px;
    line-height: 21px;
  }
  .site-description p:last-of-type {
    margin-bottom: 30px;
  }
  .site-description .btns a {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .site-description .btns a:last-child {
    margin-bottom: 0;
  }

  .site-description .image-background,
  .site-description .slide-image,
  .site-description .linear-gradient-left {
    width: 100%;
  }

  .site-description .linear-gradient-left {
    background: transparent
      linear-gradient(270deg, #f9f9f900 0%, #f9f9f9df 57%, #f9f9f9 100%) 0% 0%
      no-repeat padding-box;
    background-position: center;
    background-position-x: 22%;
  }
}
